body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f0e786;
    margin: auto;
    padding: 40px;
}

h1 {
    text-align: center;
    color: #0e146e;
}

h4 {
    text-align: center;
    color: #5e6cb4;
    font-size: small;
}

#description {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}

#survey-form {
    max-width: 500px;
    margin: auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(160, 160, 31);
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

p {
    margin-top: 20px;
    font-weight: bold;
}

button {
    margin-top: 25px;
    width: 100%;
    padding: 10px;
    background-color: #ffd900;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #bba421;
}
